


@media (min-width: 1024px) {
  .cat-con-flower {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
  }

  .category-container {
    grid-column: 1 / 2; 
    grid-row: 1; 
    width: 100%;
    height: auto; 
  }

  .blank-card {
    grid-column: 1 / 2; 
    grid-row: 2; 
  }

  .flowers-list {
    grid-column: 2 / 3; 
    grid-row: 1 / span 2; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
  }
  .category-image{
  width: 100%;
  }

  /* .flower-card {
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
  } */

  /* .flower-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  } */
}


