.banner-container{
    margin: 0 auto;
}
.banner-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
}

.flower-image{
    height: 400px;
    width: 100%;
}
.flower-image {
    border: 1px solid #ddd;
    object-fit: cover;
}


@media (min-width: 768px) {
    .flower-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .freshflower-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (min-width: 1024px) {
    .banner-container {
        grid-column: 1 / 2;
        grid-row: 1;
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .banner-image {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .flower-grid {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        grid-template-columns: repeat(2, 1fr);
    }
}