.service-section {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;
  background-color: #fff;
  gap: 3rem;
  align-items: center;
}

.sub-section {
  padding: 4rem 2rem;
  border-bottom: 1px solid #eee;
}

.service-left {
  flex: 1;
  min-width: 280px;
}

.service-left img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  object-fit: cover;
}

.service-right {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-right h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-right h3 {
  font-size: 2rem;
  color: #222;
  font-weight: 600;
}

.service-right p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
  margin-top: -20px;
}

.service-right button {
  padding: 12px 24px;
  background-color: white;
  color: #121212;
  border: 1px solid #121212;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.service-right button:hover {
  background-color: #e76691;
}

.event-hero img {
  width: 100%;
  max-width: 1440px;
  height: auto;
  /* border-radius: 12px; */
  object-fit: cover;
  padding: 20px 0px 20px 0px;
}
.event-hero {
  border-bottom: 1px solid #121212;
}

@media (min-width: 1024px) {
  .service-section {
    margin-bottom: -7%;
  }
}












